In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.3'

In [3]:
list_1=[1900, '1-4 Years', 1983.4]

In [5]:
list_1

[1900, '1-4 Years', 1983.4]

In [6]:
list_2=[1901, '1-4 Years', 1965.0]

In [8]:
list_2

[1901, '1-4 Years', 1965.0]

In [9]:
# create a 2 dimensional list
list_2d= [list_1, list_2]

In [10]:
list_2d

[[1900, '1-4 Years', 1983.4], [1901, '1-4 Years', 1965.0]]

In [11]:
# with pandas constructor you can create a dataframe
# pandas methods and constructors
pd_df=pd.DataFrame(list_2d)

In [13]:
pd_df # no column names or headers

      0          1       2
0  1900  1-4 Years  1983.4
1  1901  1-4 Years  1965.0

In [14]:
pd_df=pd.DataFrame(list_2d, columns=['Year', 'Age Group', 'Death Rate'])

In [15]:
pd_df # create DF using list of lists

   Year  Age Group  Death Rate
0  1900  1-4 Years      1983.4
1  1901  1-4 Years      1965.0

In [16]:
# another way is to use a Dictionary

In [17]:
# create a dictionary to pass into DF constructor
# keys are column headers, values are values
data_dict= {'Year':[1900, 1901], 'Age Group':['1-4 Years', '1-4 Years'], 'Death Rate':[1983.4, 1695.0]}

In [18]:
data_dict

{'Year': [1900, 1901],
 'Age Group': ['1-4 Years', '1-4 Years'],
 'Death Rate': [1983.4, 1695.0]}

In [19]:
# read into DF constructor
pd_df_dict=pd.DataFrame(data_dict)

In [22]:
pd_df_dict

   Year  Age Group  Death Rate
0  1900  1-4 Years      1983.4
1  1901  1-4 Years      1695.0

In [23]:
# check out a url
poll_url = 'http://projects.fivethirtyeight.com/general-model/president_general_polls_2016.csv'

In [24]:
poll_url

'http://projects.fivethirtyeight.com/general-model/president_general_polls_2016.csv'

In [25]:
# using url csv to load into DF pandas environment
df_url=pd.read_csv(poll_url)

In [41]:
df_url.sample(2)

,cycle,branch,type,matchup,forecastdate,state,startdate,enddate,pollster,grade,...,adjpoll_clinton,adjpoll_trump,adjpoll_johnson,adjpoll_mcmullin,multiversions,url,poll_id,question_id,createddate,timestamp
5999,2016,President,now-cast,Clinton vs. Trump vs. Johnson,11/8/16,Ohio,8/17/2016,8/19/2016,YouGov,B,...,49.02962,44.23941,3.200217,NaN,NaN,https://d25d2506sfb94s.cloudfront.net/cumulus_...,44903,68879,8/21/16,09:24:53 8 Nov 2016
4091,2016,President,polls-plus,Clinton vs. Trump vs. Johnson,11/8/16,Utah,9/21/2016,9/26/2016,Google Consumer Surveys,B,...,29.27201,40.97612,13.082110,NaN,NaN,https://datastudio.google.com/u/0/#/org//repor...,46278,72337,9/28/16,09:35:33 8 Nov 2016

In [33]:
# save DF into file
df_url.to_csv('test.csv')
# it saved to the directory you are working in on your device(Pythong-for-Data-Analysis)

In [34]:
# Read from a file thats already saved in your working directory
df_test_test=pd.read_csv('president_general_polls_2016.csv')

In [40]:
df_test_test.sample(2)

,cycle,branch,type,matchup,forecastdate,state,startdate,enddate,pollster,grade,...,adjpoll_clinton,adjpoll_trump,adjpoll_johnson,adjpoll_mcmullin,multiversions,url,poll_id,question_id,createddate,timestamp
6002,2016,President,now-cast,Clinton vs. Trump vs. Johnson,11/8/16,New York,10/28/2016,11/3/2016,SurveyMonkey,C-,...,55.67313,31.80142,2.402406,NaN,NaN,https://www.surveymonkey.com/elections/map?pol...,48301,75668,11/4/16,09:24:53 8 Nov 2016
4854,2016,President,now-cast,Clinton vs. Trump vs. Johnson,11/8/16,Alabama,10/30/2016,11/6/2016,SurveyMonkey,C-,...,34.58204,53.39756,3.667262,NaN,NaN,https://www.surveymonkey.com/elections/map?pol...,48526,76070,11/7/16,09:24:53 8 Nov 2016

In [39]:
df_test_test.tail(2)

,cycle,branch,type,matchup,forecastdate,state,startdate,enddate,pollster,grade,...,adjpoll_clinton,adjpoll_trump,adjpoll_johnson,adjpoll_mcmullin,multiversions,url,poll_id,question_id,createddate,timestamp
12622,2016,President,polls-only,Clinton vs. Trump vs. Johnson,11/8/16,Virginia,9/30/2016,10/6/2016,Ipsos,A-,...,49.57558,39.96954,NaN,NaN,NaN,http://www.reuters.com/statesofthenation/,46675,72969,10/10/16,09:14:14 8 Nov 2016
12623,2016,President,polls-only,Clinton vs. Trump vs. Johnson,11/8/16,Wisconsin,6/9/2016,6/12/2016,Marquette University,A,...,46.40999,39.19839,NaN,NaN,NaN,https://law.marquette.edu/poll/2016/06/15/new-...,44341,66966,6/15/16,09:14:14 8 Nov 2016

In [43]:
# see attributes, values is an atribute not  a method
df_test_test.values

array([[2016, 'President', 'polls-plus', ..., 76192, '11/7/16',
        '09:35:33  8 Nov 2016'],
       [2016, 'President', 'polls-plus', ..., 76443, '11/7/16',
        '09:35:33  8 Nov 2016'],
       [2016, 'President', 'polls-plus', ..., 76636, '11/8/16',
        '09:35:33  8 Nov 2016'],
       ...,
       [2016, 'President', 'polls-only', ..., 68743, '8/15/16',
        '09:14:14  8 Nov 2016'],
       [2016, 'President', 'polls-only', ..., 72969, '10/10/16',
        '09:14:14  8 Nov 2016'],
       [2016, 'President', 'polls-only', ..., 66966, '6/15/16',
        '09:14:14  8 Nov 2016']], dtype=object)

In [44]:
# shape is an attribute
df_test_test.shape

(12624, 27)

In [49]:
# index the tuple[0]
df_test_test.shape[12623]

IndexError: tuple index out of range

In [50]:
# how many values are there altogether. mupltiple number of rows by number of columns
df_test_test.size

340848

In [51]:
# another attribute that gives you all col headers in a DF
df_test_test.columns

Index(['cycle', 'branch', 'type', 'matchup', 'forecastdate', 'state',
       'startdate', 'enddate', 'pollster', 'grade', 'samplesize', 'population',
       'poll_wt', 'rawpoll_clinton', 'rawpoll_trump', 'rawpoll_johnson',
       'rawpoll_mcmullin', 'adjpoll_clinton', 'adjpoll_trump',
       'adjpoll_johnson', 'adjpoll_mcmullin', 'multiversions', 'url',
       'poll_id', 'question_id', 'createddate', 'timestamp'],
      dtype='object')

In [ ]:
# change col headers so there are no spaces and reassign DF varaiable
# df_test_test = df_test_test.columns.str.replace(' ', '')

# there are no spaces but if there were they would be repalced

In [58]:
# Methods: info(), nunique(), describe()
#df_test_test.info()
df_test_test.describe().T
#df_test_test.nunique()

,count,mean,std,min,25%,50%,75%,max
cycle,12624.0,2016.000000,0.000000,2016.000000,2016.000000,2016.000000,2016.000000,2016.000000
samplesize,12621.0,1148.216068,2630.647790,35.000000,447.000000,772.000000,1237.000000,84292.000000
poll_wt,12624.0,0.255431,0.669326,0.000000,0.000358,0.008172,0.086735,8.720654
rawpoll_clinton,12624.0,41.990860,7.727792,11.040000,38.000000,43.000000,46.200000,88.000000
rawpoll_trump,12624.0,39.828710,7.877327,4.000000,35.000000,40.000000,45.000000,68.000000
rawpoll_johnson,8397.0,7.381740,2.959274,0.000000,5.400000,7.000000,9.000000,25.000000
rawpoll_mcmullin,90.0,24.004000,5.638641,9.000000,22.000000,25.000000,28.000000,31.000000
adjpoll_clinton,12624.0,43.323005,7.095235,17.064950,40.210697,44.148045,46.908830,86.772180
adjpoll_trump,12624.0,42.667719,6.948256,4.372936,38.445588,42.716265,46.313520,72.437390
adjpoll_johnson,8397.0,4.655091,2.472636,-3.677883,3.136837,4.375392,5.761469,20.366840
adjpoll_mcmullin,90.0,24.511497,5.174286,11.028320,22.814548,25.136030,28.067610,31.583810
poll_id,12624.0,45910.899477,2864.536271,35362.000000,45151.750000,46384.500000,47741.250000,48922.000000
question_id,12624.0,71591.326046,4699.401001,47244.000000,69548.500000,72516.500000,74724.250000,76636.000000

In [59]:
# using bracket method returns a series, only the one column from the DF
df_test_test['cycle']

0        2016
1        2016
2        2016
3        2016
4        2016
         ...
12619    2016
12620    2016
12621    2016
12622    2016
12623    2016
Name: cycle, Length: 12624, dtype: int64

In [60]:
# bracket method to get one column. the type is a DF not a series
df_test_test[['cycle']]

       cycle
0       2016
1       2016
2       2016
3       2016
4       2016
...      ...
12619   2016
12620   2016
12621   2016
12622   2016
12623   2016

[12624 rows x 1 columns]

In [61]:
# to access multiple columns names you need double brackets
df_test_test[['cycle', 'samplesize']]

       cycle  samplesize
0       2016      2220.0
1       2016     26574.0
2       2016      2195.0
3       2016      3677.0
4       2016     16639.0
...      ...         ...
12619   2016       469.0
12620   2016       653.0
12621   2016       717.0
12622   2016       479.0
12623   2016       666.0

[12624 rows x 2 columns]

In [62]:
# dot method notation to see one column
df_test_test.cycle
# if there is whitespace in the col name then use the bracket notation

0        2016
1        2016
2        2016
3        2016
4        2016
         ...
12619    2016
12620    2016
12621    2016
12622    2016
12623    2016
Name: cycle, Length: 12624, dtype: int64