# Clean the ramen Data

In [2]:
# imports
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# 1. Read the data from the CSV file into a DataFrame and display the first five rows.

# ramen-ratings file is in the local working directory
file_path = 'ramen-ratings.csv'

# Use pandas to read the CSV file
df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame to verify the import
df

,Brand,Variety,Style,Country,Stars
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75
4,Ching's Secret,Singapore Curry,Pack,India,3.75
...,...,...,...,...,...
2572,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50
2573,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.00
2574,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.00
2575,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.00
2576,Westbrae,Miso Ramen,Pack,USA,0.50

In [ ]:
# 2. Rename the Stars column to Rating.

In [ ]:
# 3. Convert the Style column to the category type.

In [ ]:
# 4. Drop the country column.

In [ ]:
# 5. Check that the changes were applied to the DataFrame.

In [ ]:
# 6. Rename the Brand column to Company and the Variety column to Product.

In [ ]:
# 7. Use the duplicated() method to display all rows with duplicate Company/Product
# combinations.

In [ ]:
# 8. Drop all rows with duplicate Company/Product combinations except for the first row in
# each set. Then, display the data to get a count of the number of rows, and compare that
# with the original number of rows to see how many were dropped.

In [ ]:
# 9. Drop any rows that have missing values.

In [ ]:
# 10. Check again to make sure that all of your changes were applied.